name: "build"
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.11' 
      - name: Running the notebooks
        run: |
          cd slides 
          pip install -r requirements.txt
          chmod +x generate.sh
          ./generate.sh
      - name: Generate the slides
        run: |
          cd slides 
          cp build.sh.example build.sh
          chmod +x build.sh
          docker compose up
      - name: Deploy
        if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master')
        uses: JamesIves/github-pages-deploy-action@v4.6.8
        with:
          branch: gh-pages
          folder: slides/_site
      - uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: 120
      - name: Export pdfs
        run: |
          cd slides 
          chmod +x export2pdf.sh
          ./export2pdf.sh
      - name: Install Node
        uses: actions/setup-node@v4.0.4
        with:
          node-version-file: package.json
      - name: Release
        if: github.event_name == 'push' && (github.ref == 'refs/heads/main' || github.ref == 'refs/heads/master')
        run: |
          npm install
          npx semantic-release
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
